@import "propose.css";
@import "heading.css";
@import "idcard.css";
@import "infoportlets.css";
@import "search.css";

.avatar{
	margin-right: 15px;
}
.rdc-people-dispaly {
	margin-bottom: 20px;
}
.aui .notdisplayInput {
	display: none;
}