@import "propose.css";
@import "heading.css";
@import "idcard.css";
@import "infoportlets.css";
@import "search.css";

.avatar{
	margin-right: 15px;
}
.rdc-people-dispaly {
	margin-bottom: 20px;
}
.aui .notdisplayInput {
	display: none;
}
.rdcbuttonrowadddiseae {
	width: 120px;
	float:left;
	margin-right: 50px;
}
.rdcbuttonrowuploadexcel {
	width: 275px;
	float:left;
}
.aui .rdcdiseases form {
	margin: 0 0 0 30px;
}
.aui .button-holder {
	margin: 0;
}