.proposebuttonrow{
	text-align: right;
	margin-left: 25px;
	margin-right: 25px;
	padding-bottom: 25px;
}
.proposeheadline{
	color: #FFFFFF;
	margin: 0 0 10px 0;
	background-color: #377CB5;
	padding: 3px 0 3px 5px;
}
#rdc-candidate-propose {
	margin: 0;
	background-color: #F4F4E1;
	width:100%;
}
.proposelayout{
	margin-left: 25px;
	margin-right: 25px;
}
div.portlet-body{
	min-width:600px;
	max-width:1200px;
}
div.proposerequired{
	width:16px;
	display: inline;
	background-image: url('../images/required.png');
	background-repeat: no-repeat;
}
img.proposerequired{
	float: left;
	display: inline;
}
span.proposerequired{
	float: left;
	display: inline;
}
input.propose{
	max-width: 600px;
	width:85%;
}
textarea.propose{
	width:85%;
}
.aui .rdc-candidate-table .table {
	font-size: small;
}
.rdc-candidate-table .candidate-table-candidateId {
	width:35px;
	padding: 4px;
}
.rdc-candidate-table .candidate-table-name {
	width:450px;
	patting: 4px;
}
.rdc-candidate-table .candidate-table-country {
	width:90px;
	padding: 4px;
}
.rdc-candidate-table .candidate-table-candidatetype {
	width:85px;
	padding: 4px;
}
.rdc-candidate-table .candidate-table-source {
	width:95px;
	padding: 4px;
}
.rdc-candidate-table .candidate-table-editsub {
	width:110px;
	padding: 4px;
}
.aui .rdc-candidate-table .table th, .aui .table td {
    padding: 4px;
} 
.aui .rdc-filter-form select {
	width:120px;
}
.tooltip-help {
    z-index: 500 !important; 
}
.rdc-filter-name-help {
	width:28px;
	height: 24px;
    color: #8BBF39;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  	background: #377CB5;
  	border-bottom: 2px solid #8BBF39;
}
.aui .rdc-filter-button {
	margin-left: 5px;
	margin-top: 5px;
}
.candidate-table-namecontainer {
	width:458px;
}
.rdc-table-nameentry{
	width:450px;
}
.rdc-table-nameentry-name {
	font-size:12px;
	line-height: 12px;
	width:450px;
}
.rdc-table-nameentry-diseases {
	font-size:9px;
	line-height: 9px;
	width:450px;
}
.rdc-table-nameentry-contact {
	font-size:9px;
	line-height: 9px;
	width:450px;
	font-style:italic;
}
.rdc-table-candidatetype {
	width:150px;
}
.rdc-table-candidatetype-type {
	width:150px;
	font-size:11px;
	line-height:11px;
}
.rdc-table-candidatetype-subtype {
	width:150px;
	font-size:10px;
	line-height:10px;
	font-style:italic;
}