table {
	border-collapse: collapse;
}

table,th,td {
	border: 0px solid black;
}

img {
	border: none;
}

html {
	font-size: 100%; /* IE hack */
}

table {
	font-size: 100%; /* IE hack */
}

/* CSS Tree menu styles */
.aui #panel1 ol.tree {
	padding: 0 0 0 30px;
	width: 300px;
}

.aui #panel1 li {
	position: relative;
	margin-left: -15px;
	list-style: none;
}

.aui #panel1 li.file {
	margin-left: -1px !important;
}

.aui #panel1 li.file a {
	background: url(/BBMRIAT-portlet/images/document.png) 0 0 no-repeat;
	color: #000000;
	padding-left: 21px;
	text-decoration: none;
	display: block;
}

.aui #panel1 li.file a[href*='.pdf'] {
	background: url(/BBMRIAT-portlet/images/document.png) 0 0 no-repeat;
}

.aui #panel1 li.file a[href*='.html'] {
	background: url(/BBMRIAT-portlet/images/document.png) 0 0 no-repeat;
}

.aui #panel1 li.file a[href$='.css'] {
	background: url(/BBMRIAT-portlet/images/document.png) 0 0 no-repeat;
}

.aui #panel1 li.file a[href$='.js'] {
	background: url(/BBMRIAT-portlet/images/document.png) 0 0 no-repeat;
}

.aui #panel1 li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

.aui #panel1 li input+ol {
	background: url(/BBMRIAT-portlet/images/toggle-small-expand.png) 40px 0
		no-repeat;
	margin: -1.6em 0 0 -44px; /* 15px */
	height: 1em;
}

.aui #panel1 li input+ol>li {
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}

.aui #panel1 li label {
	background: url(/BBMRIAT-portlet/images/folder-horizontal.png) 15px 1px
		no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}

.aui #panel1 li input:checked+ol {
	background: url(/BBMRIAT-portlet/images/toggle-small.png) 40px 5px
		no-repeat;
	margin: -2em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}

.aui #panel1 li input:checked+ol>li {
	display: block;
	margin: 0 0 0.125em; /* 2px */
}

.aui #panel1 li input:checked+ol>li:last-child {
	margin: 0 0 0.063em; /* 1px */
}