.aui .bbmri-eric-member-area-top-menue  .portlet-borderless-container,
.aui .bbmri-eric-member-area-top-area-expand  .portlet-borderless-container {
	padding: 0;
	margin: 0;
}
.aui .bbmri-eric-member-area-top-menue  .portlet, .aui .bbmri-eric-member-area-top-menue  .portlet-borderless-container,
.aui .bbmri-eric-member-area-top-area-expand  .portlet, .aui .bbmri-eric-member-area-top-area-expand  .portlet-borderless-container {
	padding: 0;
   margin: 0;
}

.bbmri-eric-member-area-top-menue {
   width: 100%;
   height: 50px;
   margin: auto;
   
   background-color: #0C2848;
}
.bbmri-eric-member-area-top-menue-container {
	width: 1200px;
	height: 50px;
	margin: auto;
	
	background: -webkit-linear-gradient(#B5B5B5, #C5C5C5, #B5B5B5); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#B5B5B5, #C5C5C5, #B5B5B5); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#B5B5B5, #C5C5C5, #B5B5B5); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#B5B5B5, #C5C5C5, #B5B5B5); /* Standard syntax */
}
.bbmri-eric-member-area-top-menue-container-bbmri-member-logo {
	width: 160px;
   height: 41px;
   float: left;
   
   padding-left: 20px;
   padding-top: 8px;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 0 1px 0;
}
.bbmri-eric-member-area-top-menue-container-menu {
	width: 1018px;
   height: 49px;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 1px 1px;
}
.bbmri-eric-member-area-top-menue-container-menu-home {
	width: 34px;
   height: 36px;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 0 0;
   
   padding: 13px 0 0 15px;
}
.bbmri-eric-member-area-top-menue-container-menu-current-site {
   width: 329px;
   height: 36px;
   float: left;
   font-weight:bold;
   
   color: #ED660A;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 0 0;
   
   padding: 13px 10px 0 10px;
   
   list-style: none;
   
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-current-site a, .bbmri-eric-member-area-top-menue-container-menu-current-site a:hover {
	color: #ED660A;
	font-weight:bold;
	text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-current-site ul {
   margin: 0;	
}
.bbmri-eric-member-area-top-menue-container-menu-current-site ul, .bbmri-eric-member-area-top-menue-container-menu-current-site ul li {
	list-style: none;
}

.bbmri-eric-member-area-top-menue-container-menu-user {
   width: 29px;
   height: 40px;
   float: left;
   
   list-style: none;
   
   padding: 10px 0 0 20px;
   
   position: absolute;
   top: 0;
   right: 0px;
}
/* ----------------------------------------------- */
.bbmri-eric-member-area-top-menue-container-adhoc {
   width: 179px;
   height: 36px;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 0 0;
   
   list-style: none;
   
   padding: 13px 0 0 10px;
}
.aui .bbmri-eric-member-area-top-menue-container-adhoc ul {
   float: left;
   list-style: none;
   margin: 0;
}
.aui .bbmri-eric-member-area-top-menue-container-adhoc .bbmri-eric-member-area-top-menue-container-adhoc-ul-li {
   width: 160px;
   align: right;
   text-align: right;
   padding-right: 5px;
   color: #64666A;
}
.aui .bbmri-eric-member-area-top-menue-container-adhoc ul:after {
   content: ""; 
   clear: both; 
   display: block;
}
.bbmri-eric-member-area-top-menue-container-adhoc ul ul {
   display: none;
   background: #C5C5C5; 
   border-radius: 0px; 
   padding: 0;
   position: absolute; 
   top: 49px;
   left: 400px;
   z-index: 500;
   width: 240px;
}
.bbmri-eric-member-area-top-menue-container-adhoc ul ul li {
   border-top: 1px solid #C5C5C5;
   border-bottom: 1px solid #C5C5C5;
   position: relative;
   float: left;
   width: 237px;
   padding-left: 3px;
   align: left;
   text-align: left;
   
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
.bbmri-eric-member-area-top-menue-container-adhoc ul ul li a {
   color: #FFFFFF;
}
.aui .bbmri-eric-member-area-top-menue-container-adhoc ul ul li a:hover {
   color: #FFFFFF;
   text-decoration:none;
}
.bbmri-eric-member-area-top-menue-container-adhoc:hover > ul ul {
   display: block;
}
/* ----------------------------------------------- */
.bbmri-eric-member-area-top-menue-container-committees {
   width: 179px;
   height: 36px;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 0 0;
   
   list-style: none;
   
   padding: 13px 0 0 10px;
}
.aui .bbmri-eric-member-area-top-menue-container-committees ul {
   float: left;
   list-style: none;
   margin: 0;
}
.aui .bbmri-eric-member-area-top-menue-container-committees .bbmri-eric-member-area-top-menue-container-committees-ul-li {
   width: 160px;
   align: right;
   text-align: right;
   padding-right: 5px;
   color: #64666A;
}
.aui .bbmri-eric-member-area-top-menue-container-committees ul:after {
   content: ""; 
   clear: both; 
   display: block;
}
.bbmri-eric-member-area-top-menue-container-committees ul ul {
   display: none;
   background: #C5C5C5; 
   border-radius: 0px; 
   padding: 0;
   position: absolute; 
   top: 49px;
   left: 590px;
   z-index: 500;
   width: 240px;
}
.bbmri-eric-member-area-top-menue-container-committees ul ul li {
   border-top: 1px solid #C5C5C5;
   border-bottom: 1px solid #C5C5C5;
   position: relative;
   float: left;
   width: 237px;
   padding-left: 3px;
   align: left;
   text-align: left;
   
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
.bbmri-eric-member-area-top-menue-container-committees ul ul li a {
   color: #FFFFFF;
}
.aui .bbmri-eric-member-area-top-menue-container-committees ul ul li a:hover {
   color: #FFFFFF;
   text-decoration:none;
}
.bbmri-eric-member-area-top-menue-container-committees:hover > ul ul {
   display: block;
}
/* ---------- working groups -------- */
.bbmri-eric-member-area-top-menue-container-menu-workinggroups {
   width: 179px;
   height: 36px;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 0 0;
   
   list-style: none;
   
   padding: 13px 0 0 10px;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-workinggroups ul {
   float: left;
   list-style: none;
   margin: 0;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-workinggroups .bbmri-eric-member-area-top-menue-container-menu-workinggroups-ul-li {
   width: 160px;
   align: right;
   text-align: right;
   padding-right: 5px;
   color: #64666A;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-workinggroups ul:after {
   content: ""; 
   clear: both; 
   display: block;
}
.bbmri-eric-member-area-top-menue-container-menu-workinggroups ul ul {
   display: none;
   background: #C5C5C5; 
   border-radius: 0px; 
   padding: 0;
   position: absolute; 
   top: 49px;
   left: 780px;
   z-index: 500;
   width: 240px;
}
.bbmri-eric-member-area-top-menue-container-menu-workinggroups ul ul li {
   border-top: 1px solid #C5C5C5;
   border-bottom: 1px solid #C5C5C5;
   position: relative;
   float: left;
   width: 237px;
   padding-left: 3px;
   align: left;
   text-align: left;
   
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
.bbmri-eric-member-area-top-menue-container-menu-workinggroups ul ul li a {
   color: #FFFFFF;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-workinggroups ul ul li a:hover {
   color: #FFFFFF;
   text-decoration:none;
}
.bbmri-eric-member-area-top-menue-container-menu-workinggroups:hover > ul ul {
   display: block;
}
/* ---------- user nemu ------------- */
.aui .bbmri-eric-member-area-top-menue-container-menu-user ul {
   float: left;
   list-style: none;
   margin: 0;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-user ul:after {
   content: ""; 
   clear: both; 
   display: block;
}
.bbmri-eric-member-area-top-menue-container-menu-user ul ul {
   display: none;
   width: 155px;
   background: #C5C5C5; 
   border-radius: 0px; 
   padding: 0;
   margin: 0;
   position: absolute; 
   top: 49px;
   right: 0;
   z-index: 500;
}
.bbmri-eric-member-area-top-menue-container-menu-user ul ul li {
   border-top: 1px solid #C5C5C5;
   border-bottom: 1px solid #C5C5C5;
   position: relative;
   float: left;
   width: 150px;
   color: #FFFFFF;
   padding-left: 5px;
   margin: 0;
}
.bbmri-eric-member-area-top-menue-container-menu-user ul ul li a {
   color: #FFFFFF;
}
.aui .bbmri-eric-member-area-top-menue-container-menu-user ul ul li a:hover {
   color: #FFFFFF;
}
.bbmri-eric-member-area-top-menue-container-menu-user:hover > ul ul {
   display: block;
}
/* ---------- area expand ----------- */
.bbmri-eric-member-area-top-area-expand {
	width: 100%;
   height: 180px;
   margin: auto;
   
   background-color: #0C2848;
}
.bbmri-eric-member-area-top-area-expand-container {
	width: 1000px;
   height: 180px;
   margin: auto;
   
   background: -webkit-linear-gradient(left, #FFFFFF , #E4E5E6); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, #FFFFFF, #E4E5E6); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, #FFFFFF, #E4E5E6); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, #FFFFFF , #E4E5E6); /* Standard syntax */
}
.bbmri-eric-member-area-top-area-expand-container-user-portlet {
	width: 439px;
   height: 179px;
   margin: auto;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 1px 0;
}
.bbmri-eric-member-area-top-area-expand-container-user-portlet-user-image {
   width: 180px;
   height: 180px;
   float: left;
   overflow: hidden;
}
.bbmri-eric-member-area-top-area-expand-container-user-portlet-user-edit {
   width: 239px;
   height: 170px;
   float: left;
   
   padding-left: 20px;
   padding-top: 20px;
   
   color: #A4A4A4;
   font-size: 12px;
   vertical-align: middle;
}
.bbmri-eric-member-area-top-area-expand-container-user-portlet-user-edit a, .bbmri-eric-member-area-top-area-expand-container-user-portlet-user-edit a:hover {
	color: #A4A4A4;
   font-size: 12px;
   text-decoration:none;
}
.bbmri-eric-member-area-top-area-expand-container-committees {
   width: 560px;
   height: 180px;
   margin: auto;
   float: left;
}
.bbmri-eric-member-area-top-area-expand-container-committees-4 {
	width: 279px;
   height: 89px;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 1px 0;
}
.bbmri-eric-member-area-top-area-expand-container-committees-4-icon {
	width: 70px;
	height: 74px;
	float: left;
	padding-left: 30px;
	margin-top: 15px;
}
.bbmri-eric-member-area-top-area-expand-container-committees-4-text {
	width: 179px;
   height: 69px;
   float: left;
   margin-top: 20px;
   line-height: 16px;
   
   white-space:nowrap;  
   overflow:hidden;
   text-overflow:ellipsis;
}
.bbmri-eric-member-area-top-area-expand-container-committees-4-text-short a, .bbmri-eric-member-area-top-area-expand-container-committees-4-text-short a:hover {
	color: #184B8A;
	font-size: 12px;
	text-decoration:none;
	font-weight:bold;
}
.bbmri-eric-member-area-top-area-expand-container-committees-4-text-long a, .bbmri-eric-member-area-top-area-expand-container-committees-4-text-long a:hover {
	color: #A4A4A4;
	font-size: 12px;
	text-decoration:none;
	
	overflow:hidden;
   text-overflow:ellipsis;
   height: 40px;
   width: 179px;
}
.bbmri-eric-member-area-top-area-expand-container-committees-8 {
   width: 279px;
   height: 44px;
   float: left;
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 1px 0;
}
.bbmri-eric-member-area-top-area-expand-container-committees-8-icon {
   width: 45px;
   height: 30px;
   float: left;
   
   padding-left: 15px;
   margin-top: 5px;
}
.bbmri-eric-member-area-top-area-expand-container-committees-8-text {
   width: 215px;
   height: 40px;
   float: left;
   
   white-space:nowrap;  
   overflow:hidden;
   text-overflow:ellipsis; 
   
   margin-top: 5px;
   line-height: 16px;
}
.bbmri-eric-member-area-top-area-expand-container-committees-8-text-short a, .bbmri-eric-member-area-top-area-expand-container-committees-8-text-short a:hover {
   color: #184B8A;
   font-size: 12px;
   text-decoration:none;
   font-weight:bold;
}
.bbmri-eric-member-area-top-area-expand-container-committees-8-text-long {
	white-space:nowrap;  
   overflow:hidden;
   text-overflow:ellipsis;
   height: 20px;
}
.bbmri-eric-member-area-top-area-expand-container-committees-8-text-long a, .bbmri-eric-member-area-top-area-expand-container-committees-8-text-long a:hover {
   color: #A4A4A4;
   font-size: 12px;
   text-decoration:none;
}
.bbmri-eric-member-area-top-area-expand-container-committees-24 {
   width: 182px;
   height: 19px;
   float: left;
   padding-top: 2px;
   padding-left: 3px;
   
   white-space:nowrap;  
   overflow:hidden;
   text-overflow:ellipsis; 
   
   border-color: #D9DBDD;
   border-style: solid;
   border-width: 0 1px 1px 0;
   line-height: 16px;
   font-weight:bold;
}
.bbmri-eric-member-area-top-area-expand-container-committees-24 a, .bbmri-eric-member-area-top-area-expand-container-committees-24 a:hover {
   color: #184B8A;
   font-size: 12px;
   text-decoration:none;
   font-weight:bold;
}
/* ---------- area not expand ----------- */
.bbmri-eric-member-area-top-area-not-expand {
	width: 100%;
   height: 20px;
   margin: auto;
   
   background-color: #0C2848;
}
.bbmri-eric-member-area-top-area-not-expand-container {
	width: 1000px;
   height: 20px;
   margin: auto;
   
   background: -webkit-linear-gradient(left, #F5F7FA , #D1D3D5); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, #F5F7FA, #D1D3D5); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, #F5F7FA, #D1D3D5); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, #F5F7FA , #D1D3D5); /* Standard syntax */
}
.bbmri-eric-member-area-top-area-not-expand-container-toggle {
	width: 40px;
   height: 20px;
   margin: auto;
   background: #2C445E;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px; 
}
.bbmri-eric-member-color-yellow, .bbmri-eric-member-color-yellow a {
	color: #ED660A;
}
.bbmri-eric-member-color-yellow a:hover {
   color: #ED660A;
   text-decoration:none;
}