#banner {
	background-color: #FFFFFF;
}
#heading {
	background-image: url(@theme_image_path@/header_background.png);
	background-color: #cccccc;
	background-position: right 30%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 332px;
}
.aui #sign-in {
    background: rgba(0, 0, 0, 0) url("/EWB-theme/images/common/key.png") no-repeat scroll 3px 50%;
    font-weight: bold;
    padding: 5px 5px 5px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.aui .heading-text {
	color: #FFFFFF;
}
.aui .heading-text-title {
	color: #FFFFFF;
	background-color: rgba(24, 75, 138, 0.8);
	font-size: 37px;
	font-weight: bold;
	line-height: 45px;
	margin: auto;
	text-align: center;
    width: 700px;
	padding-top: 20px;
}
.aui .heading-text-subtitle {
	color: #FFFFFF;
	background-color: rgba(24, 75, 138, 0.8);
	font-weight: bold;
	font-size: 25px;
	line-height: 35px;
	width: 700px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}
.aui .heading-text-date {
	color: #FFFFFF;
	background-color: rgba(0, 102, 51, 0.8);
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	width: 700px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}

.aui .heading-logos {
	padding-top: 20px;
	width: 700px;
	margin: auto;
}

@import url(custom_header_menu.css);
@import url(custom_header_responsive.css);