.bbmrieric-footer-twitter {
	position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px; 
    border: 0px solid black;
    right: -1050px;
    top: -96px;
}

#bbmrieric-footer-twitter-slide {
    position: absolute;
    bottom: -25px;
    width: 50px;
    height: 50px;
    background: blue;
    transition: 1s;
}

.bbmrieric-footer-twitter:hover #bbmrieric-footer-twitter-slide {
    transition: 1s;
    bottom: 0;
}
.bbmrieric-footer-linkedin {
	position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px; 
    border: 0px solid black;
    right: -990px;
    top: -146px;
}

#bbmrieric-footer-linkedin-slide {
    position: absolute;
    bottom: -25px;
    width: 50px;
    height: 50px;
    background: blue;
    transition: 1s;
}

.bbmrieric-footer-linkedin:hover #bbmrieric-footer-linkedin-slide {
    transition: 1s;
    bottom: 0;
}

/* ---------- Footer ----------- */
.bbmrieric-footer {
	margin: auto;
	width: 100%;
	background: #ECECEC;
	float: left;
	overflow: hidden;
}
.bbmri-footer-inner {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	padding: 20px 0 50px 0;
}
.bbmri-footer-item {
	flex-basis: 20%;
	padding: 20px 40px;
	box-sizing: border-box;
	flex-grow: 1;
	text-align: center;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}
.bbmri-footer-item:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}
.bbmri-footer-item img {
	max-width: 100%;
	max-height: 60px;
}
#footer {
	width: 1000px;
	margin: auto;
}
.bbmrieric-footer-menue {
	width: 1000px;
	height: 20px;
	margin: auto;
	text-align: center;
	align: center;
	margin-top: -75px;
	margin-bottom: 30px;
}
.bbmrieric-footer-menue ul {
	text-align: center;
	padding: 0px;
	margin: auto;
	list-style-type: none;
	height: 70px;
}
.bbmrieric-footer-menue li {
	list-style-type: none;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 20px;
}
/* ---------- Footer ende ----------- */