@import url(propose.css);
@import url(heading.css);
@import url(idcard.css);
@import url(infoportlets.css);
@import url(search.css);
.avatar {
  margin-right: 15px; }

.rdc-people-dispaly {
  margin-bottom: 20px; }

.aui .notdisplayInput {
  display: none; }

.rdcbuttonrowadddiseae {
  width: 120px;
  float: left;
  margin-right: 50px; }

.rdcbuttonrowuploadexcel {
  width: 275px;
  float: left; }

.aui .rdcdiseases form {
  margin: 0 0 0 30px; }

.aui .button-holder {
  margin: 0; }

