/* ---------- New Header ----------- */
.bbmri_eric_header-maincontainer {
	margin: auto;
	position: relative;
	padding-bottom: 80px;
	background: #333;
	padding-top: 6px;
}
.bbmri_eric_header-maincontainer-verlauf {
	margin: auto;
}
.bbmri_eric_header-maincontainer-verlauf-inner {
	margin: auto;
	width: 1200px;
	position: relative;
}
.bbmri_eric_header-innercontainer {
	margin: auto;
	width: 100%;
	max-width: 1400px;
	position: relative;
	padding: 0 100px;
	box-sizing: border-box;
}
.bbmri_eric_header-logo {
	position: absolute;
	top: 10px;
	right: 0;
	width: 80px;
	height: 115px;
	z-index: 1000;
	padding: 5px;
	box-sizing: border-box;
}
.bbmri_eric_header-logo-floating {
	margin-top: 42px;
	float: right;
}
/* menu */
.bbmri_eric_header-menucontainer {
	width: 100%;
	height: 40px;
	margin: auto;
	position: absolute;
	left: 0;
	bottom: 40px;
}
.bbmri_eric_header-mainmenu-position {
	width: 100%;
	max-width: 1400px;
	display: inline-block;
}
.bbmri_eric_header-mainmenu-floating {
	float: right;
}
.bbmri_eric_header-mainmenu {
	width: 100%;
	max-width: 1400px;
	height: 40px;
	margin: auto;
	padding: 0 40px;
	box-sizing: border-box;
}
.bbmri_eric_header-mainmenu ul {
	float: right;
	text-align: right;
	padding:0px;
	margin:0px;
	list-style-type: none;
}
.bbmri_eric_header-mainmenu li {
	float: left;
	list-style-type: none;
	margin: auto;
	padding-right: 0;
	height: 40px;
}
.bbmri_eric_header-mainmenu li a {
	color: white;
	text-decoration: none;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inherit;
}
.bbmri_eric_header-mainmenu li:hover {
	background: #ed660a;
}
.bbmri_eric_header-mainmenu li:hover a {
	color: white !important;
}
/* submenu */
.bbmri_eric_header-submenucontainer {
	width: 100%;
	height: 40px;
	margin: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	background: white;
	-webkit-box-shadow: 3px 2px 0 rgba(102,102,102,0.3);
	-moz-box-shadow: inset 0 3px 2px 0 rgba(102,102,102,0.3);
	box-shadow: 0 3px 2px 0 rgba(102,102,102,0.3);
}
.bbmri_eric_header-submainmenu {
	width: 100%;
	margin: auto;
	text-align: left;
	height: 40px;
	max-width: 1400px;
}
.bbmri_eric_header-submainmenu-position {
	width: 1000px;
	margin-left: 100px;
	margin-right: 100px;
}
.bbmri_eric_header-submainmenu-floating-runing-text {
   float: left;
   width: 275px;
   margin-top: 12px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   text-align: center;
   font-weight: bold;
   font-style: italic;
}
.bbmri_eric_header-submainmenu-floating {
	float: left;
	width: 100%;
	max-width: 1400px;
}
.bbmri_eric_header-submainmenu-floating ul {
   float: left;
   margin: 0;
}
.bbmri_eric_header-submainmenu-floating ul ul {
   float: left;
   margin: 0 0 10px 25px;
}
.bbmri_eric_header-submainmenu ui {
	float: right;
	text-align: right;
	padding:0px;
	margin:0px;
	list-style-type: none;
}
.bbmri_eric_header-submainmenu li {
	float: left;
	list-style-type: none;
	margin: auto;
	padding-left: 0;
	padding-right: 0;
	line-height: 20px;
	height: 40px;
}
.bbmri_eric_header-submainmenu li.selected {
	background: #184b8a;
}
.bbmri_eric_header-submainmenu li:hover {
	background: #184b8a;
}
.bbmri_eric_header-submainmenu li:hover a {
	font-size: 10pt;
}
.bbmri_eric_header-submainmenu li.selected a,
.bbmri_eric_header-submainmenu li:hover a {
	color: white;
}
/* subsubmenu */
.bbmri_eric_header-subsubmenucontainer {
	width: 100%;
	height: 30px;
	margin: auto;
	position: absolute;
	left: 0px;
	top: 290px;
}
.bbmri_eric_header-subsubmainmenu {
	width: 1200px;
	height: 30px;
	margin: auto;
	text-align: right;
	color: #FFFFFF;
	background-color: rgba(21,74,191,0.8);
}
.bbmri_eric_header-subsubmainmenu-position {
	width: 1000px;
	height: 30px;
	margin: auto;
}
.bbmri_eric_header-subsubmainmenu-floating {
	float: right;
}
.bbmri_eric_header-subsubmainmenu ul {
	float: right;
	text-align: right;
	padding:0px;
	margin-top: 6px;
	list-style-type: none;
}
.bbmri_eric_header-subsubmainmenu li {
	float: left;
	list-style-type: none;
	margin: auto;
	padding-left: 15px;
	padding-right: 5px;
	line-height: 15px;
}
/* ---------- New Header ende ----------- */
.bbmri_eric_header-login-top-right {
	position: absolute;
	top: 25px;
	left: 0;
	width: 80px;
	height: 80px;
	z-index: 1000;
}
.bbmri_eric_header-logo {
	position: absolute;
	top: 10px;
	right: 0;
	width: 80px;
	height: 115px;
	z-index: 1000;
	background: white;
	padding: 5px;
	box-sizing: border-box;
}
.bbmri_eric_header-login-top-right:hover > .bbmri_eric_header-login-top-right-name {
	display: inline;
}
.bbmri_eric_header-login-top-right .bbmri_eric_header-login-top-right-name {
	position: absolute;
	display: none;
	top: 0;
	left: 75px;
	width: 150px;
	height: 70px;
	padding-left: 30px;
	background: #555;
	z-index: 5;
	color: #fff;
	border-radius: 0 5px 5px 5px;
}
.bbmri_eric_header-login-top-right .bbmri_eric_header-login-top-right-name .bbmri_eric_header-login-top-right-name-title {
	width: 175px;
	text-align: center;
	border-radius: 0px 5px 0px 0px;
	margin-left: -25px;
	margin-bottom: 5px;
    text-align: center;
    background: #ed660a;
}
.bbmri_eric_header-login-image-position {
	position: absolute;
   	top: 0px;
   	left: 0px;
   	z-index: 1000;
	width: 100%;
	box-sizing: border-box;
}