/* ------ BBMRI-AT Sub ID Card Main ----------- */
.bbmriat_subidcard_idcardbody {
	background-color:#E2E3CE;
	position:relative;
	top:-119px;
	border-radius:25px;
	box-shadow: 5px 7px 20px rgba(0,0,0,0.2);
	height:247px;
	width:408px;
}
.bbmriat_subidcard_idcardbodytop {
	height:33px;
	width:100%;
	font-size:18px;
	font-weight:bold;
	color: #184B8A;
	padding-top: 15px;
	vertical-align: middle;
	text-align: center;
}
.bbmriat_subidcard_idcardbodymiddle {
	height:87px;
	width:100%;
	background-color:#FFFFFF;
}
.bbmriat_subidcard_idcardbodybottom {
	height:112px;
	width:100%;
}
/* ------ BBMRI-AT Sub ID Card Main ----------- */
/* ------ BBMRI-AT Sub ID Card Middle ----------- */
.bbmriat_subidcard_idcardbodymiddle_logo{
	margin-left: 26px;
	margin-top: 10px;
	float: left;
	margin-right: 10px;
}
.aui .bbmriat_subidcard_idcardbodymiddle img {
	height:67px;
}
.bbmriat_subidcard_idcardbodymiddle_organisationname {
	font-size: 18px;
	font-weight:bold;
	color: #184B8A;
	width: 100%;
	height:87px;
	display: table-cell;
	vertical-align: middle;
}
/* ------ BBMRI-AT Sub ID Card Middle ----------- */
/* ------ BBMRI-AT Sub ID Card Bottom ----------- */
.bbmriat_subidcard_idcardbodybottom_area {
	width: 388px;
	height:77px;
	padding-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	overflow: hidden;
  	text-overflow: ellipsis;
}
.bbmriat_subidcard_idcardbodybottom_menue {
	width: 358px;
	height:25px;
	margin-left: 25px;
	margin-right: 25px;
}
.bbmriat_subidcard_idcardbodybottom_menue ul {
	padding: 0;
	margin: 0;
}
.bbmriat_subidcard_idcardbodybottom_menue ul li {
	list-style: none;
	float:left;
	background-color:#F4F4E1;
	margin: 0 3px;
	padding: 5px 3px 0 3px;
	text-align: center;
	height:20px;
	font-size:14px;
	font-weight:bold;
	line-height: 17px;
	overflow: hidden;
  	text-overflow: ellipsis;
}
.rdc_idcard_idcardbodybottom-menue-pageinformation {
	color:#8BBF39;
	font-weight: normal;
}
.rdc_idcard_idcardbodybottom-menue-pageinformation-gray {
	color:#7F7F7F;
	font-weight: normal;
}
.rdc_idcard_idcardbodybottom-menue-pageinformation-noncalculates {
	font-weight: normal;
}
/* ------ BBMRI-AT Sub ID Card Bottom ----------- */